<div class="min-h-screen flex flex-col">
  <header
    class="h-12 px-3 bg-[#101010] text-white font-mono flex items-center justify-between"
  >
    <span>
      <img
        class="w-8 h-8 object-contain"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Threads_%28app%29.png/480px-Threads_%28app%29.png"
        alt="threads"
      />
    </span>
    <nav>
      <ul class="flex gap-4">
        <li
          routerLinkActive="underline"
          class="hover:underline underline-offset-4"
        >
          <a routerLink="/home">Home</a>
        </li>
        <li
          routerLinkActive="underline"
          class="hover:underline underline-offset-4"
        >
          <a routerLink="/about">About</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="px-3">
    <router-outlet></router-outlet>
  </main>
</div>
